* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /* Set the default color and font family */
body {
    color: #201C56;
    font-family: Helvetica, Arial, sans-serif;
}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #201C56;
}


header h1 {
    color: #201C56;
    background-color: #A29ECD;
    padding: 1px;
}


header nav {
    margin: 7px 0;
}


header nav a {
    text-decoration: none;
    color: #A29ECD;
    font-size: 26px;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


 header nav ul li a {
    border-bottom: 2px solid  #A29ECD;
    margin: 0 10px;
    padding: 5px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}


.hero {
    background-image: url("../images/hero.jpg");
    height: 150px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}


.hero h2 {
    color: #201C56;
    background-color: #A29ECD;
    margin: 20px 80px;
    padding: 10px;
}


section {
    display: flex;
    padding: 20px 80px;
}


.section-head {
    display: flex;
    justify-content: flex-end;
    min-width: 250px;
    font-size: 24px;
    padding-right: 10px;
    border-right: 5px solid #201C56;
}


.section-content {
    display: flex;
}


.section-title {
    text-align: right;
}